/* table of contents

   1. global stylings
   2. typography
   3. layout
   4. components
     4.1 button
*/

/* ===============
  1. global stylings
   =============== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
	background: #333;
	color: #fff;
}

/* ===============
  2. typography
   =============== */

h1 {
	margin-top: 2rem;
	font-size: 2.2rem;
	text-align: center;
}

/* ===============
  3. layout
   =============== */
.btn-container,
.wrapper {
	display: flex;
	justify-content: center;
}

/* ===============
  4. components
   =============== */

/* 4.1 button */

.get-joke-btn {
	margin-top: 2rem;
	font-size: 1.4rem;
	border-style: none;
	background: #55acef;
	border-radius: 0.5rem;
	padding: 0.5rem 1.8rem;
	cursor: pointer;
}

.list {
	list-style-type: none;
}
